.container {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
    background-color: white;
}
.left-panel, .right-panel {  
    padding: 20px;
    margin-top: 50px;
 
}
.left-panel {
    width: 450px;
    margin-right: 100px;
}
.right-panel {
    position: relative;
    height: auto;
    width: 400px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 60px;
}
.section-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
.input-group {
    margin-bottom: 10px;
}
.input-group label {
    display: block;
    margin-bottom: 5px;
}
.input-group input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.payment-method {
    display: flex;
    flex-direction: column;
}
.payment-method label {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.payment-method input {
    margin-right: 10px;
}

.icon-payment-method {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon-payment-method label {
    display: flex;
    align-items: center; 
    gap: 8px; 
}

.payment-icon {
    width: 24px; 
    height: auto; 
    background-color: transparent;
    mix-blend-mode: multiply;
}

.order-summary {
    margin-top: 10px;
    font-size: 14px;
}

.order-summary__button {
    margin-top: 10px;
    margin-bottom: 100px;
    font-size: 14px;
}

.order-summary div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1px;
}

.order-food {
    margin-top: 20px;
    font-size: 14px;
}
.order-food .order-item {
    display: flex; 
    justify-content: space-between; 
    margin-bottom: 10px; 
}
.order-food .order-item p {
    margin: 0; 
    font-size: 14px; 
    white-space: nowrap; 
}
.order-food div {
    display: flex;
    justify-content: space-between;
    margin-bottom:1px;
}

.order-total {
    font-weight: bold;
    color: #d35400;
}
.order-button {
    text-align: center;
    margin-top: 20px;
}
.order-button button {
    background-color: #f39c12;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}


.section-title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.change-method-button {
    background-color:  #F5E9DA;
    color: black;
    width: 150px;
    height: 50px;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 20px;
    cursor: pointer;
    font-size: 14px;
}

input {
    height: 50px;
}

#km {
    color: #d35400;
    border: 2px solid #d35400;
    border-radius: 10px;
    background-color:  #F5E9DA;
    cursor: pointer;
    width: 130px;
    height: 60px;
    font-size: 15px;
}

#km:hover{
    color: #ff9800;
    border: 2px solid #ff9800;
}

.label-with-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.label-with-icon img {
    width: 24px; 
    height: 24px; 
}


.total-box {
    position: absolute;
    bottom: 0; 
    left: 0;
    right: 0;
    margin-top: 20px; 
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #ff9800, #f39c12); 
    padding: 15px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    color: #fff; 
    font-size: 16px;
    font-weight: bold;
    width: 410px;
    
}

.total-info p {
    margin: 0; 
}

.price {
    font-size: 18px;
}

.order-button {
    background-color: #fff; 
    color: #ff9800;
    border: none;
    border-radius: 20px;
    padding: 16px 24px;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.delivery {
    font-size: 12px;
}


.custom-radio {
    width: 20px; 
    height: 20px;
  
    cursor: pointer; 
}


.custom-radio:checked {
    accent-color: #ff9800; 
    border: 2px solid #ffffff;
}


.term {
    font-size: 14px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.mdCheckbox {
    width: 28px; 
    height: 24px;
    cursor: pointer;
    appearance: none;
    border: 2px solid #ff9800; 
    border-radius: 4px; 
    background-color: transparent; 
    display: inline-block;
    position: relative;
}


.mdCheckbox:checked {
    background-color: #ff9800; 
    border: 2px solid #ff9800; 
}


.mdCheckbox:checked::after {
    content: '';
    position: absolute;
    top: 2px;
    left: 6px;
    width: 6px;
    height: 12px;
    border: solid #ffffff; 
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}


.delete-order-btn {
    display: block; 
    width: 100%; 
    padding: 10px; 
    margin-top: 20px; 
    background-color: #F5E9DA; 
    color: chocolate; 
    border: none; 
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer; 
    text-align: center; 
}

 #text {
    opacity: 0; 
    transform: translateY(-10px); 
    transition: opacity 1s ease, transform 1s ease;
    font-size: 18px;
    color: #ff0000;
    text-align: center;
    margin-top: 15px;
}

#text.show {
    opacity: 1;
    transform: translateY(0); 
}


.terms-link {
    color: #f58220; 
    text-decoration: none; 
    transition: text-decoration 0.3s, color 0.3s; 
}


.terms-link:hover {
    text-decoration: underline; 
    color: #d15e00;
}

.address-dropdown {
    display: none; 
    position: absolute;
    background-color: white;
    border: 1px solid #ddd;
    width: 300px;
    z-index: 10;
    margin-top: 10px;
}

.address-dropdown ul {
    list-style-type: none;
    padding: 0;
}

.address-dropdown li {
    padding: 10px;
    cursor: pointer;
}

.address-dropdown li:hover {
    background-color: #f1f1f1;
}
